#red{
    color: red;
}
#blue{
    color:blue
}
#orange{
    color:orange
}
#green{
    color:green
}
#yellow{
    color:yellow
}


.class-title{
    font-weight: normal
}

img {
    height: 200px; width:200px;
}

img[draggable]{
    font-weight: normal

}

html{
    background-color:brown
}

/* 
html{                             *{
    background-color:brown    OR    background-color:brown
}                                  }
/*